<!DOCTYPE html>
<html>
  <head>
    <title>Clarium</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>

    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item">

          You're signed in as <%= current_user.email %>.
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>

      <% else %>

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
        </li>

      <% end %>
    </ul>



    <% if notice.present? %>
      <p class="alert alert-info"> <%= notice %> </p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    

    <%= yield %>
  </body>
</html>
